@model List<Model.Entity.Chip>

<h2 class="text-center text-success">Listado de Clientes</h2>

<div class="well well-sm">

    <a class="btn btn-primary" title="Agregar" href="~/Chip/Crear"> <span class="fa fa-user"> Nuevo</span></a>


</div>
<table class="table table-hover table-striped">
    
    <thead>
        <tr>
            <th>Nombre de la Compañia</th>
            <th>Pink</th>
            <th>Punk</th>
            <th>Numero Telefonico</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>@item.Compañia</td>
            <td>@item.Pink</td>
            <td>@item.Punk</td>
            <td>@item.Numero</td>
            
            <td>
                <a class="btn btn-danger" href="~/Chip/Eliminar/@item.ID" title="Eliminar"><span class="fa fa-recycle"></span></a>
                <a class="btn btn-warning" href="~/Chip/Obtener/@item.ID" title="Obtener">
                    <i class="fa fa-search"></i>
                </a>

                <a class="btn btn-primary" href="~/Chip/Editar/@item.ID" title="Eliminar"><span class="fa fa-edit"></span></a>
                <a class="btn btn-default" href="~/Chip/MostrarChipPorCliente/@item.ID" title="Cliente">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 16 16">
                        <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z" />
                    </svg>
                </a>


            </td>
        </tr>

        }
    </tbody>

</table>